/* Estilização personalizada da navbar */
.navbar {
  padding: 0.8rem 1.5rem;
  font-size: 1.05rem;
}
.navbar-nav {
  width: 100%;
  flex: 1;
  justify-content: center;
}

.custom-link {
  position: relative;
  font-weight: 500;
  color: #333 !important;
  transition: color 0.3s ease;
}

/* Efeito hover */
.custom-link:hover {
  color: #0d6efd !important; /* Azul padrão Bootstrap */
}

/* Underline animado */
.custom-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -3px;
  background-color: #0d6efd;
  transition: width 0.3s ease;
}

.custom-link:hover::after {
  width: 100%;
}

/* Quando o link estiver ativo */
.custom-link.active {
  color: #0d6efd !important;
  font-weight: 600;
}

.btn-login {
  background-color: #151138;
  border: none;
  color: #fff;
  border-radius: 8px;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-login:hover {
  background-color: #2a2170; /* tom um pouco mais claro */
  transform: scale(1.05);
  color: #fff;
}
